.city-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid teal;
    width: 80%;
    height: auto;
    margin: 100px auto;
    padding: 21px 15px;
}

.title {
	font-size: 26px;
	padding: 16px 0;
	color: rgb(1, 63, 63);
	text-align: center;
}

#city {
	width: 100%;
	padding: 12px;
	font-size: 24px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}

form {
    width: 77%;
    margin: auto;
}

.search-icon {
    position: relative;
    left: 100px;
    bottom: 53px;
    font-size: 24px;
    padding: 12px;
}

@media only screen and (min-width: 950px) {
    .city-section {
        width: 40%;
        margin: 100px auto 0;
        padding: 50px 0 21px;
    }
    form {
        width: 100%;
    }
    .search-icon {
        left: 135px;
    }
    .title {
        font-size: 30px;
    }
}